<section class="login-page card ps-5 d-grid gap-3">
    <div class="form-heading">
        <h1>Log In</h1>
    </div>
    <div class="form-section">
        <form id="login-form" class="d-grid gap-3">
            <div>
                <label for="username-login">Username</label>
                <input type="text" class="entry-field" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="entry-field" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn btn-primary">Log In!</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="sign-in-link">sign up instead</a>
</section>


<script src="/javascript/login.js"></script>