{{> post-content post }}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea id="comment-body" name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="submit-btn">Add Comment</button>
        <button type="button" class="upvote-btn">Upvote!</button>
    </div>
</form>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
<script src="/javascript/comments.js"></script>
<script src="/javascript/upvotes.js"></script>
{{/if}}