!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link rel="stylesheet" href="/views/layout/main.handlebars" />
</head>
<body>
    <header>
        <nav>
            {{#if loggedIn}}
            <a href="/views/dashboard.handlebars">dashboard</a>
            <button id="logout" class="logoutbutton">Logout</button>
            {{else}}
            <a href="/views/login.handlebars">Home</a>
            <a href="/views/dashboard.handlebars">dashboard</a>
            {{/if}}
        </nav>
        <h1>
            <a href="/"> Tech Blog!</a>
        </h1>
    </header>
    <div class="wrapper">
        <main class="body-main">
            {{{ body }}}
        </main>
        <footer>
            {{#each ideas}}
 <div>
   <p>{{tip}}</p>
 </div>
{{/else}}
        </footer>
    </div>
    <script src="/public/javascript/logout.js"></script>
    {{/if}}
</body>
</html>